.header__box-contact {
    max-width: 250px;
    height: 50px;
    display: flex;
    flex-direction: column;
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin-right: 20px;
    text-align: center;
    font-family: 'Noto Sans', Arial, Helvetica, sans-serif;
    margin-top: 20px;
}

@media all and (max-width: 900px) {
    .header__box-contact {
        font-size: 18px;
    }
}


@media all and (max-width: 768px) {
    .header__box-contact {
        display: none;
    }
}