.description__describe-text-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

@media all and (max-width: 500px) {
    .description__describe-text-container {
        font-size: 15px;
    }
}