/* Слайдер */
.slick-slider {
}
/* Слайдер запущен */
.slick-slider.slick-initialized {
}
/* Слайдер с точками */
.slick-slider.slick-dotted {
}
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}
/* Лента слайдов */
.slider .slick-track {
  display: flex;
  align-items: flex-start;
}
/* Слайд */
.slick-slide {
}
/* Слайд активный (показывается) */
.slick-slide.slick-active {
}
/* Слайд основной */
.slick-slide.slick-current {
}
/* Слайд по центру */
.slick-slide.slick-center {
}
/* Клонированный слайд */
.slick-slide.slick-cloned {
}

/* Стрелка */
.slick-arrow {
}
/* Стрелка влево */
.slick-arrow.slick-prev {
}
/* Стрелка вправо */
.slick-arrow.slick-next {
}
/* Стрелка не активная */
.slick-arrow.slick-disabled {
}
/* Точки (булиты) */
.slick-dots {
}
.slick-dots li {
}
/* Активная точка */
.slick-dots li.slick-active {
}
/* Элемент точки */
.slick-dots li button {
}

.slider {
  min-width: 0;
  position: relative;
  padding: 0 60px;
  margin-top: 250px;
  z-index: 5;
}

@media all and (max-width: 1307px) {
  .slider {
    margin-top: 300px;
  }
}

@media all and (max-width: 1122px) {
  .slider {
    margin-top: 450px;
  }
}

@media all and (max-width: 1081px) {
  .slider {
    margin-top: 250px;
  }
}

@media all and (max-width: 1024px) {
  .slider {
    margin-top: 250px;
  }
}

@media all and (max-width: 901px) {
  .slider {
    margin-top: 230px;
  }
}

@media all and (max-width: 606px) {
  .slider {
    margin-top: 300px;
  }
}

@media all and (max-width: 591px) {
  .slider {
    margin-top: 400px;
  }
}

@media all and (max-width: 575px) {
  .slider {
    margin-top: 200px;
  }
}

@media all and (max-width: 498px) {
  .slider {
    margin-top: 250px;
  }
}

@media all and (max-width: 459px) {
  .slider {
    margin-top: 250px;
  }
}

@media all and (max-width: 420px) {
  .slider .slick-arrow {
    top: 35%;
  }
}

@media all and (max-width: 408px) {
  .slider {
    margin-top: 350px;
  }
}

@media all and (max-width: 357px) {
  .slider {
    margin-top: 400px;
  }
}

.slider .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
  width: 30px;
  height: 50px;
  font-size: 0;
  border: 0;
  cursor: pointer;
}

@media all and (max-width: 333px) {
  .slider {
    margin-top: 430px;
  }
}

.slider .slick-arrow.slick-prev {
  background: url(../../../images/prev.svg) 0 0 / 100%;
  background-repeat: no-repeat;
  left: 0;
}

.slider .slick-arrow.slick-next {
  right: 0;
  background: url(../../../images/next.svg) 0 0 / 100%;
  background-repeat: no-repeat;
}

.slider .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.slider .slick-dots li {
  list-style: none;
  margin-right: 20px;
  margin-top: 20px;
}
/* Активная точка */
.slider .slick-dots li.slick-active button {
  background-color: slategrey;
}
/* Элемент точки */
.slider .slick-dots button {
  font-size: 0;
  width: 30px;
  height: 30px;
  background-image: url(../../../images/wire.svg);
  background-size: cover;
  border: 0;
  border-radius: 50%;
  transition: opacity 0.155s linear 0s, transform 2s, background-color 1.5s;
  cursor: pointer;
}

.slider .slick-dots button:hover {
  opacity: 0.8;
  transform: rotate(720deg);
}

.slider img {
  width: 100%;
  height: 100%;
}

@media all and (max-width: 425px) {
  .slider .slick-dots button {
    width: 25px;
    height: 25px;
  }
}

@media all and (max-width: 750px) {
  .slider .slick-arrow {
    top: 45%;
  }
}
