.assortment__items {
  display: grid;
  margin: auto;
  grid-template-columns: repeat(auto-fit, 300px);
  grid-template-rows: repeat(1, 70px);
  gap: 40px;
  justify-content: center;
  margin-bottom: 100px;
}
