.description__title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 100px;
    margin-top: 0;
}




@media all and (max-width: 1024px) {
    .description__title {
        margin-bottom: 50px;
    }
}

@media all and (max-width: 1081px) {
    .description__title {
        font-size: 40px;
    }
}

@media all and (max-width: 769px) {
    .description__title {
        font-size: 35px;
    }
}

@media all and (max-width: 565px) {
    .description__title {
        font-size: 30px;
    }
}

@media all and (max-width: 425px) {
    .description__title {
        font-size: 25px;
        margin-bottom: 30px;
    }
}