.up-sign {
  width: 70px;
  height: 70px;
  position: fixed;
  z-index: 1000;
  right: 2%;
  bottom: 10%;
  background-image: url(../../images/up.png);
  background-size: cover;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
}

@media all and (max-width: 769px) {
  .up-sign {
    display: none;
  }
}