.description__box {
  width: 250px;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 50px;
  margin-left: 45px;
  margin-bottom: 0;
}

@media all and (max-width: 1081px) {
  .description__box {
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    margin: 0;
  }
}

