.header__slider {
    width: 100%;
    height: 200px;
    color:  white;
    margin-left: auto;
    text-align: center;
}


@media all and (max-width: 768px) {
    .header__slider {
        margin: auto;
    }
}