.header__slider-button {
  min-width: 250px;
  min-height: 65px;
  margin-top: 25px;
  color: black;
  font-weight: bolder;
  font-size: 20px;
  cursor: pointer;
  margin: 0;
  transition: all 0.3s linear 0s;
  font-family: 'Noto Sans', Arial, Helvetica, sans-serif;
}

.header__slider-button:hover {
  opacity: 0.8;
}

@media all and (max-width: 771px) {
  .header__slider-button {
    font-size: 15px;
    min-width: 200px;
    min-height: 55px;
  }
}

@media all and (max-width: 620px) {
  .header__slider-button {
    font-size: 15px;
    min-width: 180px;
    min-height: 45px;
  }
}

@media all and (max-width: 455px) {
  .header__slider-button {
    font-size: 13px;
    min-width: 160px;
    min-height: 35px;
  }
}

@media all and (max-width: 416px) {
  .header__slider-button {
    font-size: 11px;
    min-width: 140px;
    min-height: 25px;
  }
}

@media all and (max-width: 416px) {
  .header__slider-button {
    font-size: 15px;
    min-width: 170px;
    min-height: 45px;
  }
}
