.header__box-info {
  width: 450px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  font-weight: bold;
  font-size: 20px;
  margin: auto;
  margin-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

@media all and (max-width: 1024px) {
  .header__box-info {
    font-size: 20px;
    justify-content: flex-start;
    width: 360px;
  }
}

@media all and (max-width: 900px) {
  .header__box-info {
    font-size: 18px;
    width: 350px;
    margin-left: 15px;
    margin-right: 15px;
  }
}

@media all and (max-width: 771px) {
  .header__box-info {
    font-size: 15px;
    width: 290px;
  }
}

@media all and (max-width: 768px) {
  .header__box-info {
      display: none;
  }
}
