/* Слайдер */
.slick-slider {
}
/* Слайдер запущен */
.slick-slider.slick-initialized {
}
/* Слайдер с точками */
.slick-slider.slick-dotted {
}
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}
.slider__image {
  margin: auto;
  height: 700px;
  width: 100%;
  object-position: center;
}

@media all and (max-width:1024px) {
  .slider__image {
    height: 500px;
  }
}

@media all and (max-width:720px) {
  .slider__image {
    height: 400px;
  }
}

@media all and (max-width:620px) {
  .slider__image {
    height: 200px;
    width: 300px;
  }
}
/* Лента слайдов */

.slider .slick-track {
  -webkit-display: flex;
  -webkit-align-items: flex-start;
  display: flex;
  align-items: flex-start;
}
/* Слайд */
.slick-slide {
  display: flex;
  justify-content: center;
  width: 1200px;
}
/* Слайд активный (показывается) */
.slick-slide.slick-active {
}
/* Слайд основной */
.slick-slide.slick-current {
}
/* Слайд по центру */
.slick-slide.slick-center {
}
/* Клонированный слайд */
.slick-slide.slick-cloned {
}

/* Стрелка */
.slick-arrow {
}
/* Стрелка влево */
.slick-arrow.slick-prev {
}
/* Стрелка вправо */
.slick-arrow.slick-next {
}
/* Стрелка не активная */
.slick-arrow.slick-disabled {
}
/* Точки (булиты) */
.slick-dots {
}
.slick-dots li {
}
/* Активная точка */
.slick-dots li.slick-active {
}
/* Элемент точки */
.slick-dots li button {
}

.slider {
  min-width: 0;
  position: relative;
  padding: 0 60px;
  margin-top: 50px;
  z-index: 5;
}


.slider .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
  width: 30px;
  height: 50px;
  font-size: 0;
  border: 0;
  cursor: pointer;

  -webkit-position: absolute;
  -webkit-top: 50%;
  -webkit-z-index: 10;
  -webkit-width: 30px;
  -webkit-height: 50px;
  -webkit-font-size: 0;
  -webkit-border: 0;
  -webkit-cursor: pointer;
}



.slider .slick-arrow.slick-prev {
  background: url(../../../images/prev.svg) 0 0 / 100%;
  background-repeat: no-repeat;
  left: 0px;

  -webkit-background: url(../../../images/prev.svg) 0 0 / 100%;
  -webkit-background-repeat: no-repeat;

}

.slider .slick-arrow.slick-next {
  right: 0px;
  background: url(../../../images/next.svg) 0 0 / 100%;
  background-repeat: no-repeat;


  -webkit-background: url(../../../images/next.svg) 0 0 / 100%;
  -webkit-background-repeat: no-repeat;
}

.slider .slick-dots {
  -webkit-display: flex;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  -webkit-padding: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.slider .slick-dots li {
  -webkit-list-style: none;
  -webkit-margin-right: 20px;
  -webkit-margin-top: 20px;

  list-style: none;
  margin-right: 20px;
  margin-top: 20px;
}
/* Активная точка */
.slider .slick-dots li.slick-active button {
  background-color: slategrey;
  -webkit-background-color: slategrey;
}
/* Элемент точки */
.slider .slick-dots button {
  font-size: 0;
  width: 30px;
  height: 30px;
  background-image: url(../../../images/wire.svg);
  background-size: cover;
  border: 0;
  border-radius: 50%;
  transition: opacity 0.155s linear 0s, transform 2s, background-color 1.5s;
  cursor: pointer;

  -webkit-font-size: 0;
  -webkit-width: 30px;
  -webkit-height: 30px;
  -webkit-background-image: url(../../../images/wire.svg);
  -webkit-background-size: cover;
  -webkit-border: 0;
  -webkit-border-radius: 50%;
  -webkit-transition: opacity 0.155s linear 0s, transform 2s,
    background-color 1.5s;
  -webkit-cursor: pointer;
}

.slider .slick-dots button:hover {
  opacity: 0.8;
  transform: rotate(720deg);

  -webkit-opacity: 0.8;
  -webkit-transform: rotate(720deg);
}


@media all and (max-width: 425px) {
  .slider .slick-dots button {
    width: 25px;
    height: 25px;

    -webkit-width: 25px;
    -webkit-height: 25px;
  }
}

@media all and (max-width: 750px) {
  .slider .slick-arrow {
    top: 45%;

    -webkit-top: 45%;
  }
}
