.header__title {
    height: 50px;
    color: white;
    font-weight: bold;
    font-size: 30px;
    margin-left: 20px;
    z-index: 11;
    font-family: 'Noto Sans', Arial, Helvetica, sans-serif;
    display: none;
}

@media all and (max-width: 900px) {
    .header__title {
        font-size: 25px;
    }
}


@media all and (max-width: 769px) {
    .header__title {
        margin-bottom: 0;
        margin-top: 7px;
        font-size: 18px;
        height: 30px;
        position: fixed;
        display: flex;
    }
}

