/* assortment */
/* assortment */
/* assortment */
.assortment {
  &__buttons {
    margin-bottom: 50px;

    display: flex;
    justify-content: center;

    border-bottom: 1px solid #ccc;
  }

  &__button {
    &+& {
      margin-left: 30px;
    }

    padding: 0 15px 13px;
    font-family: 'Times New Roman, Times, serif';
    font-weight: 700;
    font-size: 20px;
    color: #9a9a9a;
    background: transparent;
    text-transform: uppercase;
  }

  .mixitup-control-active {
    color: #41307c;
    box-shadow: inset 0 -2px 0 #41307c;
  }
}

/* images */
/* images */
/* images */
.images {
  margin: 130px 0;
}

/* images__inner */
/* images__inner */
/* images__inner */
.images__inner {
  width: 100%;
  padding: 0 15px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr));
  grid-template-columns: repeat(4, minmax(250px, 1fr));
  overflow: hidden;
}

/* image__scale */
/* image__scale */
/* image__scale */
.image__scale {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  height: 285px;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.image__scale:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

/* services */
/* services */
/* services */
.services {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 50px;
}

/* services__title */
/* services__title */
/* services__title */
.services__title {
  font-weight: 700;
  font-size: 38px;
  margin-bottom: 50px;
  font-family: 'Noto Sans', Arial, Helvetica, sans-serif;
}

/* services__subtitle */
/* services__subtitle */
/* services__subtitle */
.services__subtitle {
  font-size: 28px;
  line-height: 1.4;
  font-family: 'Noto Sans', Arial, Helvetica, sans-serif;
}

.services__subtitle span {
  display: block;
  text-align: center;
}

/* services__items */
/* services__items */
/* services__items */
.services__items {
  margin-top: 80px;
  border-bottom: 1px solid #eeeeee;
}

/* services__items-about */
/* services__items-about */
/* services__items-about */
.services__items-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-top: 1px solid #eeeeee;
}

/* about__name */
/* about__name */
/* about__name */
.about__name {
  font-size: 30px;
  font-weight: 700;
  text-align: left;
  margin: 30px 0 30px 0;
  padding-left: 15px;
  font-family: 'Noto Sans', Arial, Helvetica, sans-serif;
}

/* about__btn */
/* about__btn */
/* about__btn */
.about__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  height: 38px;
  width: 38px;
  font-weight: 500;
  font-size: 45px;
  background-color: #202345;
  color: #fff;
  border-radius: 50%;
  margin-right: 15px;
}

/* rotate animation */
/* rotate animation */
/* rotate animation */
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    background-color: #202345;
    color: #fff;
  }

  to {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    background-color: #f0f0f0;
    color: #202345;
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    background-color: #202345;
    color: #fff;
  }

  to {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    background-color: #f0f0f0;
    color: #202345;
  }
}

@-webkit-keyframes rotateBack {
  from {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  to {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@keyframes rotateBack {
  from {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  to {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

/* using rotate animation */
/* using rotate animation */
/* using rotate animation */
.down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  height: 38px;
  width: 38px;
  font-weight: 500;
  font-size: 45px;
  background-color: #202345;
  color: #fff;
  border-radius: 50%;
  -webkit-animation: rotate 0.5s 1 forwards;
  animation: rotate 0.5s 1 forwards;
  margin-right: 15px;
}

.up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  height: 38px;
  width: 38px;
  font-weight: 500;
  font-size: 45px;
  background-color: #202345;
  color: #fff;
  border-radius: 50%;
  -webkit-animation: rotateBack 0.5s 1 forwards;
  animation: rotateBack 0.5s 1 forwards;
  margin-right: 15px;
}

/* about__list */
/* about__list */
/* about__list */
.about__list {
  display: none;
  margin-bottom: 30px;
  padding-left: 20px;
}

/* list */
/* list */
/* list */
.list {
  text-align: left;
}

/* list__item */
/* list__item */
/* list__item */
.list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 20px;
  line-height: 1.5;
  opacity: 0.9;
  font-family: 'Noto Sans', Arial, Helvetica, sans-serif;
}

/* check icon */
/* check icon */
/* check icon */
.check {
  width: 15px;
  margin-right: 5px;
}

/* comfort */
/* comfort */
/* comfort */
.comfort {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  background-color: #f0f0f0;
  padding: 100px 0 80px 0;
  font-family: 'Noto Sans', Arial, Helvetica, sans-serif;
}

/* comfort__title */
/* comfort__title */
/* comfort__title */
.comfort__title {
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 30px;
}

/* comfort__subtitle */
/* comfort__subtitle */
/* comfort__subtitle */
.comfort__subtitle {
  font-size: 22px;
  margin-bottom: 70px;
}

.comfort__subtitle span {
  display: block;
}

/* comfort__item */
/* comfort__item */
/* comfort__item */
.comfort__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

/* comfort__item-info */
/* comfort__item-info */
/* comfort__item-info */
.comfort__item-info {
  margin-right: 115px;
}

.comfort__item-info:nth-child(1) {
  padding-left: 25px;
}

.comfort__item-info:last-child {
  margin-right: 0;
  padding-right: 25px;
}

.comfort__item-info span {
  display: block;
}

/* info__img */
/* info__img */
/* info__img */
.info__img {
  margin-bottom: 30px;
}

.info__img img {
  width: 60px;
}

/* info__name */
/* info__name */
/* info__name */
.info__name {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 25px;
}

/* info__text */
/* info__text */
/* info__text */
.info__text {
  font-size: 18px;
  line-height: 1.3;
}

/* diagnostics */
/* diagnostics */
/* diagnostics */
.diagnostics {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 100px;
  font-family: 'Noto Sans', Arial, Helvetica, sans-serif;
}

/* diagnostics__inner */
/* diagnostics__inner */
/* diagnostics__inner */
.diagnostics__inner {
  display: -ms-grid;
  display: grid;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  padding: 80px 80px;
  position: relative;

}

.diagnostics__inner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(51, 51, 51, 0.6) url("../../images/loading.gif") center / 50px no-repeat;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.diagnostics__inner._sending::after {
  opacity: 1;
  visibility: visible;
}

/* diagnostics__title */
/* diagnostics__title */
/* diagnostics__title */
.diagnostics__title {
  font-size: 42px;
  text-align: center;
  margin-bottom: 30px;
  font-weight: 700;
}

/* diagnostics__subtitle */
/* diagnostics__subtitle */
/* diagnostics__subtitle */
.diagnostics__subtitle {
  text-align: center;
  line-height: 1.5;
  margin-bottom: 100px;
  font-size: 26px;
}

.diagnostics__subtitle span {
  display: block;
}

/* diagnostics__form */
/* diagnostics__form */
/* diagnostics__form */
.diagnostics__form {
  display: -ms-grid;
  display: grid;
}

/* diagnostics__form-item */
/* diagnostics__form-item */
/* diagnostics__form-item */
.diagnostics__form-item {
  font-size: 20px;
  border-bottom: 1px solid #d6d6d6;
  width: 690px;
  padding: 8px 8px;
  margin-bottom: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.diagnostics__form-item._error {
  -webkit-box-shadow: 0 0 4px red;
  box-shadow: 0 0 4px red;
}

/* diagnostics__btn */
/* diagnostics__btn */
/* diagnostics__btn */
.diagnostics__form-btn {
  padding: 20px 40px;
  color: #fff;
  background-color: #00008a;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 20px;
  width: 250px;
  -ms-grid-column-align: center;
  justify-self: center;
}

.diagnostics__form-btn:hover {
  background: rgba(0, 0, 0, 0);
  color: #00008a;
  -webkit-box-shadow: inset 0 0 0 3px #00008a;
  box-shadow: inset 0 0 0 3px #00008a;
}

@media all and (max-width: 1440px) {
  .images__inner {
    -ms-grid-columns: (minmax(250px, 1fr));
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .services__title {
    font-size: 34px;
  }

  .services__subtitle {
    font-size: 26px;
  }

  .diagnostics__inner {
    padding: 65px 65px;
  }

  .diagnostics__title {
    font-size: 36px;
  }

  .diagnostics__subtitle {
    font-size: 22px;
  }

  .diagnostics__form-item {
    font-size: 18px;
  }

  .diagnostics__form-btn {
    font-size: 18px;
    padding: 20px 0px;
  }

  .about__name {
    font-size: 26px;
  }

  .comfort {
    padding: 90px 0 70px 0;
  }

  .comfort__title {
    font-size: 34px;
  }

  .comfort__subtitle {
    margin-bottom: 50px;
  }

  .info__name {
    font-size: 20px;
    margin-bottom: 14px;
  }

  .info__text {
    font-size: 18px;
  }
}

@media all and (max-width: 1024px) {
  .assortment {
    &__button {
      font-size: 17px;
      &+& {
        margin-left: 20px;
      }
    }
  }
  .services__title {
    font-size: 30px;
  }

  .services__subtitle {
    font-size: 24px;
  }

  .about__name {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .list__item {
    font-size: 19px;
  }

  .comfort {
    padding: 80px 0 60px 0;
  }

  .comfort__title {
    font-size: 30px;
  }

  .comfort__subtitle {
    margin-bottom: 50px;
  }

  .info__name {
    font-size: 20px;
    margin-bottom: 14px;
  }

  .info__text {
    font-size: 18px;
  }

  .diagnostics__inner {
    padding: 40px 40px;
  }

  .diagnostics__title {
    font-size: 32px;
    margin-bottom: 20px;
  }

  .diagnostics__subtitle {
    font-size: 20px;
  }

  .diagnostics__form-item {
    font-size: 17px;
  }

  .diagnostics__form-btn {
    font-size: 18px;
    width: 200px;
    padding: 18px 0px;
  }

  .up {
    font-size: 40px;
    height: 34px;
    width: 34px;
  }

  .down {
    font-size: 40px;
    height: 34px;
    width: 34px;
  }

  .about__btn {
    font-size: 40px;
    height: 34px;
    width: 34px;
  }

  .about__list {
    padding: 0;
  }
}

@media all and (max-width: 768px) {
  .assortment {
    &__buttons {
      flex-direction: column;
      align-items: center;
    }

    &__button {
      padding: 0 15px 8px;
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .images__inner {
    -ms-grid-columns: (minmax(250px, 1fr));
    grid-template-columns: repeat(2, minmax(250px, 1fr));
  }

  .services__items {
    margin-top: 50px;
  }

  .services__title {
    font-size: 27px;
    margin-bottom: 30px;
  }

  .services__subtitle {
    font-size: 21px;
  }

  .about__name {
    font-size: 21px;
    margin-bottom: 20px;
  }

  .list__item {
    font-size: 18px;
  }

  .comfort {
    padding: 70px 0 50px 0;

    &__item {
      flex-direction: column;
    }

    &__item-info {
      padding: 0;
      margin: 0 0 20px 0;

      &:last-child,
      &:first-child {
        padding: 0;
      }
    }
  }

  .comfort__title {
    font-size: 27px;
    margin-bottom: 25px;
  }

  .comfort__subtitle {
    font-size: 22px;
  }

  .info__name {
    font-size: 18px;
    margin-bottom: 8px;
  }

  .info__text {
    font-size: 16px;
  }

  .info__img {
    margin-bottom: 15px;
  }

  .diagnostics__inner {
    padding: 10px;
  }

  .diagnostics__title {
    font-size: 29px;
    margin-bottom: 15px;
  }

  .diagnostics__subtitle {
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 60px;
  }

  .diagnostics__form-item {
    width: 400px;
    font-size: 15px;
    margin: 25px 0;
  }

  .diagnostics__form {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .diagnostics__form-btn {
    font-size: 16px;
    width: 170px;
    padding: 15px 0px;
  }

  .up {
    font-size: 36px;
    height: 30px;
    width: 30px;
  }

  .down {
    font-size: 36px;
    height: 30px;
    width: 30px;
  }

  .about__btn {
    font-size: 36px;
    height: 30px;
    width: 30px;
  }
}

@media all and (max-width: 425px) {
  .images__inner {
    -ms-grid-columns: (minmax(250px, 1fr));
    grid-template-columns: repeat(1, minmax(250px, 1fr));
  }

  .services__title {
    font-size: 26px;
    margin-bottom: 15px;
  }

  .services__subtitle {
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .services__subtitle span {
    display: inline;
  }

  .about__name {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .about__list {
    margin-left: 15px;
    margin-right: 15px;
  }

  .list__item {
    font-size: 17px;
  }

  .comfort {
    padding: 55px 0 35px 0;
  }

  .comfort__title {
    font-size: 25px;
    margin-bottom: 15px;
  }

  .comfort__subtitle {
    font-size: 20px;
    margin-bottom: 30px;
  }

  .comfort__item {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 0;
  }

  .comfort__item-info {
    margin: 0 0 10px 0;
    padding: 0;
  }

  .comfort__item-info:nth-child(1) {
    padding-left: 0;
  }

  .comfort__item-info:nth-child(3) {
    padding-right: 0;
  }

  .info__img {
    margin-bottom: 5px;
  }

  .info__name {
    font-size: 18px;
    margin-bottom: 8px;
  }

  .info__text {
    font-size: 16px;
  }

  .diagnostics__title {
    font-size: 20px;
  }

  .diagnostics__subtitle {
    font-size: 14px;
    line-height: 1.2;
    margin-bottom: 50px;
  }

  .diagnostics__subtitle span {
    display: inline;
  }

  .diagnostics__form-item {
    width: 300px;
    font-size: 14px;
    margin-bottom: 40px;
  }

  .diagnostics__form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .diagnostics__form-btn {
    font-size: 14px;
    width: 160px;
    padding: 13px 0px;
    margin-bottom: 20px;
  }

  .up {
    font-size: 36px;
    height: 30px;
    width: 30px;
  }

  .down {
    font-size: 36px;
    height: 30px;
    width: 30px;
  }

  .about__btn {
    font-size: 36px;
    height: 30px;
    width: 30px;
  }
}

