.description__social-link {
    color: white;
    font-size: 30px;
    transition: all 0.2s linear 0s;
}

.description__social-link:hover {
    opacity: 0.5;
}

@media all and (max-width: 565px) {
    .description__social-link {
        font-size: 25px;
    }
}