.reviews {
    width: 100%;
    background-color: #f0f0f0;
    margin-top: 150px;
}

@media all and (max-width: 1050px) {
    .reviews {
        height: 1400px;
    }
}


@media all and (max-width: 505px) {
    .reviews {
        height: 1450px;
    }
}

@media all and (max-width: 355px) {
    .reviews {
        height: 1515px;
    }
}